/*Dimensionando la imagen*/
  body {
    background: url("../images/fondo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: yellow;
    }
/*Termino del dimensionamiento de pantalla*/

.titulo{
  display: flex;
  font-size: 42px;
  justify-content: flex-end;
  flex-wrap: wrap;
  right: 0;
}

figure img{
  border-radius: 50%;
}

.header{
  font-family: 'Amita', cursive;
  background: rgba(12, 12, 12,.5);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.parrafo{
  font-size: 22px;
  font-family: 'Kurale', serif;
  font-style: italic;
  text-align: center;
}

.Foto{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.sombreado{
  background: rgba(12, 12, 12,.5);
  font-size: 18px;
}

.sombreado img{
  margin: 50px 80px 80px 20px;
  width: 250px;
  height: 200px;
  border: 2px solid red;
}

.correo{
  color: yellow;
  text-decoration: none;
}

.Datos{
  margin: 40px 25px;
}
